.cart {
  margin-top: 100px;
}

.cart-item-title {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr; 
  align-items: center;
  color: gray;
  font-size: max(1vw, 12px);
  gap: 10px; 
}

.cart-items-item {
  margin: 10px 0;
  color: black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr; 
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: max(1vw, 14px);
}

.cart-items-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-items-item .cross {
  cursor: pointer;
  color: red;
  font-weight: bold;
  user-select: none;
}

.cart-bottom {
  margin: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: max(12vw, 20px);
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
}

.cart-total h2 {
  margin: 0 0 10px;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.cart-total hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.cart-total button {
  border: none;
  color: white;
  background-color: teal;
  width: 100%;
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-total button:hover {
  background-color: #00796b;
}

.cart-total button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.cart-promocode {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
}

.cart-promocode p {
  margin-bottom: 10px;
  color: #555;
}

.cart-promocode-input {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
  gap: 10px;
}

.cart-promocode-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 10px;
}

.cart-promocode-input button {
  width: max(10vw, 120px);
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-promocode-input button:hover {
  background-color: #333;
}


@media (max-width: 750px) {
  .cart-bottom {
    flex-direction: column-reverse;
    align-items: stretch;
    margin: 40px 20px;
  }

  .cart-total,
  .cart-promocode {
    max-width: 100%;
    width: 100%;
  }

  .cart-promocode {
    margin-top: 20px;
  }
}
