@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Desktop: 80% width */
.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Tablet: 90% width */
@media (max-width: 1050px) {
  .app {
    width: 90%;
  }
}

/* Mobile: 95% width */
@media (max-width: 750px) {
  .app {
    width: 95%;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .app {
    width: 95%;
    padding: 0 10px;
  }
}